body {
  padding-top: 54px;
}

h4.card-title {
  font-size: 25px;
}

p.card-text {
  font-size: 18px;
}

.jumbotron {
  background-color: #f8f9fa;
}

.display-2 span {
  color: #EF4C45;
}

a.btn.btn-primary {
  background-color: #EF4C45;
  border-color: #EF4C45;
}

.btn.btn-outline-primary {
  color: #EF4C45;
  border-color: #EF4C45;
}

.btn.btn-outline-primary:hover {
  color: #FFF;
  background-color: #EF4C45;
  border-color: #EF4C45;
}

h5 {
  color: #EF4C45;
}

.fa-diagnoses {
  color: #EF4C45;
}