body {
  padding-top: 54px;
}

h4.card-title {
  font-size: 1.5em;
  font-weight: 400;
  color: #EF4C45;
}

p.card-text {
  font-size: 1em;
}

.jumbotron {
  background-color: #f8f9fa;
}

.jumbotron span {
  color: #EF4C45;
}

.jumbotron h1 {
  letter-spacing: 0.05em;
}

a.btn.btn-primary {
  background-color: #EF4C45;
  border-color: #EF4C45;
}

.btn.btn-outline-primary {
  color: #EF4C45;
  border-color: #EF4C45;
}

.btn.btn-outline-primary:hover {
  color: #FFF;
  background-color: #EF4C45;
  border-color: #EF4C45;
}

h5, .fa-vial, .fa-pills, .fa-utensils, .fa-diagnoses, .fa-calendar-check {
  color: #EF4C45;
}

hr {
  max-width: 3.75rem;
  border-width: 0.2rem;
  border-color: #EF4C45;
}

#appointment-icon {
  font-size: 40px;
}