<!DOCTYPE html>
<html>
<head>
  <%- include('../static/partials/head.ejs') %>
</head>
<body>
  <!-- Navigation -->
  <%- include('../static/partials/navbar.ejs') %>

  <main class="container">

    <h1 class="my-4"><span><img src="https://res.cloudinary.com/laurameehan/image/upload/v1582092381/Blood_Drop_kah1n9.svg" width="40" height="40" class="mr-2"/></span>New Inr</h1>

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/inrs/new">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inrs">Show History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Feature to come!</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
      <form action="/inrs/create" method="post">
        <div class="form-group mt-2">
          <label for="date">Date:</label>
          <input type="date" name="date">
        </div>
        <div class="form-group">
          <label for="result">INR result:</label>
          <input type="text" class="form-control" name="result" aria-describedby="resultHelp" placeholder="Enter inr result">
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          <textarea name="notes" rows="4" class="form-control" placeholder="Enter notes regarding inr results"></textarea>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
      </form>
      </div>
    </div>

  </main>

  <%- include('../static/partials/baseScripts.ejs') %>

</body>
</html>
