<!DOCTYPE html>
<html>
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
</head>
<body>
  <!-- Navigation -->
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/navbar.ejs') %>

  <main class="container">

    <h1 class="my-4">New Medication</h1>

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/medications/new">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medications">Show History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Feature to come!</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form action="/medications/create" method="post">
          <div class="form-group mt-2">
            <label for="date">Date:</label>
            <input type="date" name="date">
          </div>
          <div class="form-group">
            <label for="drug">Medication:</label>
            <input type="text" class="form-control" name="drug" aria-describedby="drugNameHelp" placeholder="Enter name of medication">
          </div>
          <div class="form-group">
            <label for="dose">Dose:</label>
            <input type="number" step="0.1" min=0 class="form-control" name="dose" aria-describedby="doseHelp" placeholder="Enter medication dosage">
          </div>
          <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea name="ingredients" rows="4" class="form-control" placeholder="Enter list of ingredients"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </main>

  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/baseScripts.ejs') %>

</body>
</html>
