<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') -%>
</head>
<body>

  <%- include('partials/navbar') -%>

  <!-- Page Content -->

  <main class="container-fluid">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-2">Welcome to <span class="display-1">INR</span>ecord</h1>
      <p class="lead">An application to keep track of your INR, medications, and more</p>
      <a href="/users/sign_up" class="btn btn-primary btn-lg shadow-sm">Sign up</a>
    </header>

    <!-- Page Features -->
    <section class="row text-center">

      <section class="col-lg-4">
        <h4 class="card-title">INR Results</h4>
        <p class="card-text">Easily store all of your inr test results</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">Medications</h4>
        <p class="card-text">Keep track of your daily warfarin doses</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">Feature soon to come:</h4>
        <p class="card-text">Appointments: Never miss an appointment!</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">Feature soon to come:</h4>
        <p class="card-text">Symptoms: If you have any swelling or bruising, add in images to keep track of changes.</p>
      </section>

    </section>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <%- include('partials/baseScripts') -%>
</body>
</html>
