<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') -%>
</head>
<body>

  <%- include('partials/navbar') -%>

  <!-- Page Content -->

  <main class="container-fluid">

    <% if(!currentUser) { %>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-center">
      <h1 class="display-2">Welcome to <span class="display-1">INR</span>ecord</h1>
      <p class="lead">An application to keep track of your INR, medications, and more</p>
      <a href="/users/sign_up" class="btn btn-primary btn-lg shadow-sm">Sign up</a>
    </header>

    <!-- Page Features -->
    <div class="container">
    <section class="row text-center">

      <section class="col-lg">
        <div class="my-5">
          <h4 class="card-title">INR Results</h4>
          <p class="card-text">Easily store all of your inr test results</p>
        </div>
        <div class="my-5">
          <h4 class="card-title">Medications</h4>
          <p class="card-text">Keep track of your daily warfarin doses</p>
        </div>
      </section>

      <section class="col-lg">
        <div><img src="https://res.cloudinary.com/laurameehan/image/upload/v1582181353/Healthy_ri9l3h.svg" alt="Image portraying being strong" width="300" height="300"></div>
      </section>

      <section class="col-lg">
        <div class="my-5">
          <h4 class="card-title">Feature soon to come:</h4>
          <p class="card-text">Appointments: Never miss an appointment!</p>
        </div>
        <div class="my-5">
          <h4 class="card-title">Feature soon to come:</h4>
          <p class="card-text">Symptoms: For any visible symptoms, add in images to keep track of changes.</p>
        </div>
      </section>

    </section>
    </div>
    <!-- /.row -->
    <% } else { %>
      <h2 class="d-flex justify-content-center mt-5">Hi, <%= currentUser.firstname %>!</h2>
      <h3 class="d-flex justify-content-center mt-3">Here are some interesting articles to help you learn more about your Inr, vitamin K levels, and Warfarin.</h3>
      <ul class="mt-3 list-unstyled">
        <li class="media text-center">
          <img src="../../assets/css/images/blood-49.svg">
          <div class="media-body">
            <a href="https://natfonline.org/2017/07/guide-inr-levels/">A guide to INR levels</a>
          </div>
        </li>
        <li class="media text-center">
          <img src="">
          <div class="media-body">
            <a href="http://www.coumadin.bmscustomerconnect.com/servlet/servlet.FileDownload?file=00Pi000000bxvTFEAY">Foods with Vitamin K List</a>
          </div>
        </li>
        <li class="media text-center">
          <img src="" alt="">
          <div class="media-body">
            <a href="https://www.uptodate.com/contents/warfarin-coumadin-beyond-the-basics">Warfarin(Coumadin) - Beyond the Basics</a>
          </div>
        </li>
        <li class="media text-center">
          <i class="fas fa-diagnoses fa-5x"></i>
          <div class="media-body">
            <a class="pl-3" href="https://triagelogic.com/wp-content/uploads/2018/03/PT-INR-LEVELS.pdf">Symptoms of a low or high Inr level</a>
          </div>
        </li>
      </ul>

    <% } %>
  </main>
  <!-- /.container -->

  <%- include('partials/baseScripts') -%>
</body>
</html>
