<!DOCTYPE html>
<html>
  <head>
    <%- include('../static/partials/head.ejs') %>
  </head>
  <body>
    <%- include('../static/partials/navbar.ejs') %>

    <main class="container">

      <%- include('../static/partials/messages.ejs') %>

      <div class="row">
        <div class="col-md-9 mx-auto">
          <h1 class="mt-5 mb-4 text-center">Sign in</h1>

          <form action="/users/sign_in" method="post">
            <div class="card p-4">
              <div class="form-group">
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email">
                <small class="text-muted" id="emailHelp">email address must be a valid address</small>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Password">
                <small class="text-muted" id="emailHelp">password must be at least 6 characters in length</small>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Confirm password">
                <small class="text-muted" id="passwordHelp">must match password above to confirm</small>
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-primary btn-lg shadow-sm">Sign in</button>
              </div>
            </div>
          </form>
      </div>
     </div>
    </main>

    <%- include('../static/partials/baseScripts.ejs') %>

  </body>
</html>
